
.spin{
    animation-name: rotar360;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotar360 {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg);
    }    
  }